<div class="route-card">
  <div class="card-image">
    <img src="{{this.imageUrl}}" alt="" />
  </div>
  {{! display image on left 50% }}
  <div class="card-description">
    <div class="card-description-title">
      <h2>{{this.name}}</h2>
    </div>
    
    {{!-- <div class="card-description-description">
      <p>{{this.description}}</p>
    </div> --}}
  
    <div class="card-description-user">
      <p>By User: {{this.userName}}</p>
    </div>
    
    <div class="card-description-link">
      <a href="/road/{{this._id}}">See More</a>
    </div>
    

  </div>
</div>
