<link rel="stylesheet" href="../stylesheets/road-id.css" />

<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>

<div class="routeId">

  <div class="routeIdSectionOne">
    <div class="RouteIdMap">

      <div id="map"></div>
      {{! mapbox of road on top 100% width }}
    </div>

    <div class="routeIdDescription">
      {{! description of road: name, length, distance, and stuff below map }}
      <h2>{{road.name}}</h2>
      <h3>by {{road.user}}</h3>
      <h3>{{road.country}}</h3>
      <h3>{{road.length}} km</h3>
      <p>{{road.description}}</p>

    </div>

    <div class="routeIdPictures">
      {{! pictures of uploaded road at bottom }}
    </div>

  </div>
</div>

<script>
  mapboxgl.accessToken =
  "pk.eyJ1IjoiaGVpbGlnZXJodWVnZWwiLCJhIjoiY2t3YXh5Y2l1MXk1dTJ3cWxlMTZvZ2FqdCJ9.yck0GJzLuAQfrYHahudOdA";
  Map = new mapboxgl.Map({ container: "map", style:
  "mapbox://styles/mapbox/streets-v11", zoom: 9, });
</script>